<h4>
  <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>

  <span ng-show="!product.id" translate>Add a new company</span>
  <span ng-show="product.id" translate>Edit company</span>

</h4>


<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger" ng-if="addError" translate>
      Could not add company!</div>
    <formly-form result="CompanyRecord" fields="formFields" options="formOptions"
    ng-submit="onSubmit()"></formly-form>

    <tags-input ng-model="tags"
                display-property="name"
                placeholder="Add a category"
                min-length="3"
                on-tag-added="newTagValue($tag)"
                replace-spaces-with-dashes="false"
                template="tag-template">
      <auto-complete source="loadCats($query)"
                     min-length="3"
                     load-on-focus="true"
                     load-on-empty="true"
                     max-results-to-show="4"
                     template="autocomplete-template"></auto-complete>
    </tags-input>

    <script type="text/ng-template" id="tag-template">
      <div class="tag-template">
        <div class="left-panel">
          <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" ng-if="data.flag"/>
        </div>
        <div class="right-panel">
          <span>{{$getDisplayText()}}</span>
          <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="autocomplete-template">
      <div class="autocomplete-template">
        <div class="left-panel">
          <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" />
        </div>
        <div class="right-panel">
          <span ng-bind-html="$highlight($getDisplayText())"></span>
          <span>({{data.rank}})</span>
          <span>{{data.confederation}}</span>
        </div>
      </div>
    </script>

  </div>
</div>
<div class="controls">
    <button class="btn btn-primary btn-success" ng-click="onSubmit()"
    translate>Submit</button>
</div>
