
<h4>
  <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>

  <span ng-show="!product.id" translate>Add a new company</span>
  <span ng-show="product.id" translate>Edit company</span>

</h4>


<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger" ng-if="addError" translate>
      Could not add company!</div>


    <formly-form result="CompanyRecord" fields="formFields" options="formOptions"
    ng-submit="onSubmit()"></formly-form>

    <div class="form-group move-down">
        <label for="Autocomplete">Location</label>
        <input type="text" id="Autocomplete" class="form-control" placeholder="Select a city" ng-autocomplete
        ng-model="$scope.CompanyRecord.location" details="details2" options="options2"/>
    </div>
    <!-- <div>result: {{result2}}</div> -->

    <tags-input ng-model="tags"
                display-property="name"
                placeholder="Select a category"
                min-length="3"
                add-from-autocomplete-only="true"
                on-tag-added="newTagValue($tag)"
                replace-spaces-with-dashes="false"
                min-length="4"
                maxTags="3"
                template="tag-template">
      <auto-complete source="loadCats($query)"
                     min-length="4"
                     load-on-focus="true"
                     load-on-empty="faslse"
                     max-results-to-show="4"
                     template="autocomplete-template"></auto-complete>
    </tags-input>


<div>tags cats: {{showDetails}}</div>



    <script type="text/ng-template" id="tag-template">
      <div class="tag-template">
        <div class="left-panel">
          {{data.name}} : 
            {{data.id}}
        </div>
        <div class="right-panel">
          <span>{{$getDisplayText()}}</span>
          <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="autocomplete-template">
      <div class="autocomplete-template">
        <div class="right-panel">
          <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div>
      </div>
    </script>

  </div>
</div>
<div class="controls">
    <button class="btn btn-primary btn-success" ng-click="onSubmit()"
    translate>Submit</button>
</div>
