
<h4>
  <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
<br/><br/>
  <span ng-show="!product.id" translate>Add a new company</span>
  <span ng-show="product.id" translate>Edit company</span>
</h4>


<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger" ng-if="addError" translate>
      Could not add company!</div>


    <formly-form result="CompanyRecord" fields="formFields" options="formOptions"
    ng-submit="onSubmit()"></formly-form>

    <div class="form-group move-down">
        <label for="Autocomplete">Location</label>
        <input type="text" id="Autocomplete" class="form-control" placeholder="Select a city" ng-autocomplete
        ng-model="CompanyRecord.location" details="details2" options="options2"/>
    </div>
    <pre>{{CompanyRecord | json}}</pre>

    <tags-input ng-model="tags"
                display-property="name"
                key-property="id"
                placeholder="Select a category"
                min-length="3"
                add-from-autocomplete-only="true"
                on-tag-added="newTagValue($tag)"
                replace-spaces-with-dashes="false"
                min-length="3"
                maxTags="3"
                template="tag-template">
      <auto-complete source="loadCats($query)"
                     min-length="3"
                     load-on-focus="true"
                     load-on-empty="faslse"
                     max-results-to-show="4"
                     template="autocomplete-template"></auto-complete>
    </tags-input>

    <script type="text/ng-template" id="tag-template">
      <div class="tag-template">
        <div class="left-panel" style="float:left">
          <b>{{data.name}}</b>
        </div>
        <div class="right-panel"  style="float:left">
          <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="autocomplete-template">
      <div class="autocomplete-template">
        <div class="right-panel">
          <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div>
      </div>
    </script>

  </div>
</div>

<div>
  <h4>Team Members</h4>
  <div style="width:60%;float:left;">
  <script type="text/ng-template" id="customTemplate.html">
    <a>
        <img ng-src="{{match.model.ProfilePic}}" width="50" height="50">
        <span bind-html-unsafe="match.model.Name | typeaheadHighlight:query"></span>
    </a>
  </script>
    <input type="text" ng-model="$scope.teamLookUp" placeholder="Search for a team meber"
    typeahead="item for item in getTeams($viewValue) | filter:{Name:$viewValue}" id="search-teamlookup"
    typeahead-template-url="customTemplate.html"
    typeahead-on-select="onTeamMemberSelect(item, $scope.teamLookUp, loadingMember )"
    typeahead-loading="loadingMember"  class="form-control teamlookup_input"
    ng-change="lookMember( $scope.teamLookUp )">

    <i ng-show="loadingMember" class="glyphicon glyphicon-refresh"></i>
  </div>
  <pre>{{ CompanyRecord | json }}</pre>



</div>


<div class="controls">
    <button class="btn btn-primary btn-success" ng-click="onSubmit()"
    translate>Submit</button>
</div>
