<h4>
  <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i>Back</a><br/>

</h4>
<style>
.vator_form_box{
  width:90%;
  margin:0 auto;

}
.work-datestart_date{
  width:32%;
  float:left;
  margin-right:10px;
  margin-left:40px;
}
.work-dateend_date{
  width:32%;
  float:left;
  margin-left:10px;
}
.work-type_select{
    clear:both !important;
}
.work-title_text{
  clear:both !important;
}
.work-achievement_text{
  clear:both !important;
}
.work-companylookup-box{
  clear:both !important;
}

</style>


<div class="container col-lg-12 col-md-12">
  <div class="alert alert-danger" ng-if="addError" translate>Could not add profile!</div>
  <tabset class="nav-tabs-custom">
    <tab heading="{{ 'Who' | translate }}">

      <div class="row tab-pane"  >
        <!--  contact for email here ??? -->
        <formly-form result="UserRecord" fields="formFields" id="userForm" options="formOptions" ng-submit="onSubmit()"></formly-form>
        <!-- <pre>
          {{ UserRecord | json}}
        </pre> -->
        <div class="controls">
          <button class="btn btn-primary btn-success" ng-click="onSubmit()" translate>Update</button>
        </div>
      </div>

      <table class="table table-hover">
        <tbody>
          <tr  ng-repeat="contact in profile.contact" class="list-group-item">
            <td class="text-center">
              <div class="checkbox margin-t-0">
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1"></label>
              </div>
            </td>
            <td>{{contact.emailAddress}}</td>
            <td> <button class="btn btn-warning "  ng-click="editEmail(contact)">Edit</button> </td>
          </tr>
        </tbody>
      </table>

      <div>
        <div>
          <img src="{{profile.user.CoverPic}}" id="" class="" />
        </div>
        <div>
          <img src="{{profile.user.ProfilePic}}" id="" class="" />
        </div>
      </div>

    </tab>
    <!-- <tab heading="{{ 'Credentials' | translate }}">
      <div class="row tab-pane">

        <formly-form result="profile.edu" fields="formFields2" options="formOptions" ng-submit="onSubmit2()"></formly-form>
        <pre>
          {{ profile.edu | json}}
        </pre>

        <div class="controls">
          <button class="btn btn-primary btn-success" ng-click="onSubmit2()" translate>Add Credials</button>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <td class="text-center"><i class="fa fa-trash"></i></td>
            <td>Degree</td>
            <td>Dates</td>
            <td>Name</td>
            <td>Desc</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <div class="checkbox margin-t-0">
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1"></label>
              </div>
            </td>
            <td>BS - Computer Engineering</td>
            <td>2002</td>
            <td>Stanford University</td>
            <td>http://www.stanford.edu</td>
            <td> <button class="btn btn-warning ">Edit</button> </td>
          </tr>
        </tbody>
      </table>

    </tab> -->
    <tab heading="{{ 'Experience' | translate }}">
        <button class="btn btn-info fa fa-plus" ng-click="toggleWork()">Add Experience</button>
      <div class="row tab-pane"   ng-hide="hideWork" mychildren  >



        <div class="form-group vator_form_box work-companylookup-box" ng-class="{'has-error': options.formField.$invalid}">
        	<label for="work.title" class="ng-binding">
        		Enter Your Work History
        	</label>
          <div>

          <div style="width:70%;float:left;">
            <input type="text" ng-model="$scope.workLookUp" placeholder="Companies loaded via $http"
            typeahead="item for item in getTeams($viewValue)" id="work-companylookup"
            typeahead-on-select="onCompanySelect(item, $scope.workLookUp, work.companylookup )"
            typeahead-loading="loadingCompanies" class="form-control work_companylookup_input"  ng-change="lookCompany($scope.workLookUp)">
            <i ng-show="loadingCompanies" class="glyphicon glyphicon-refresh"></i>
          </div>
          <div style="width:30%; float:left">
            <button ng-click="" class="btn btn-info fa fa-rocket"> &nbsp; Add New Company</button>
          </div>
        </div>
           <!-- ngIf: options.description -->

        </div>


        <formly-form result="WorkRecord" fields="formFields3" options="formOptions" ng-submit="onSubmit3()"></formly-form>


        <!-- <pre>
          {{ WorkRecord | json }}
        </pre> -->
        <div class="controls" style="margin:20px 0px 20px 0px; clear: both !important;">
            <button class="btn btn-primary btn-info" ng-click="onCancel3()" translate>Cancel </button> &nbsp;  &nbsp;
            <button class="btn btn-primary btn-success" ng-click="onSubmit3()" translate>Submit </button>
        </div>
      </div>

      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="work in profile.work" class="list-group-item">
            <td class="text-center">
              <div class="checkbox margin-t-0">
                <input id="checkbox1" type="checkbox">
                <label for="checkbox1"></label>
              </div>
            </td>
            <td>{{work.Type}}</td>
            <td>{{work.datestart}} to {{work.dateend}}</td>
            <td>{{work.companyname}}</td>
            <td>{{work.jobtitle}}</td>
            <td> <button class="btn btn-warning" ng-click="editWork(company)">Edit</button> </td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="{{ 'Profiles' | translate }}">
        <!-- <button class="btn btn-info fa fa-plus" ng-click="toggleSocial()">Add New Social</button> -->
      <div class="row tab-pane " >
        <!--  contact for email here too -->
        <formly-form result="SocialRecord" fields="formFields4" options="formOptions" ng-submit="onSubmit4()"></formly-form>

        <div class="controls">
          <button class="btn btn-primary btn-success" ng-click="onSubmit4()" translate>Update Social Accounts</button>
        </div>
      </div>

      <!-- <pre>
        {{ SocialRecord | json }}
      </pre> -->

      <table class="table table-hover">
        <tbody>
           <tr  ng-repeat="social in profile.social" class="list-group-item">
             <td class="text-center">
               <div class="checkbox margin-t-0">
                 <input id="checkbox1" type="checkbox">
                 <label for="checkbox1"></label>
               </div>
             </td>
             <td>{{social.Type}} : {{social.Value}}</td>
             <td>{{social.URL}}</td>
             <td> <button class="btn btn-warning " ng-click="editSocial(social)">Edit</button> </td>
           </tr>
           <tr>
        </tbody>
      </table>
    </tab>

    <!-- <tab heading="{{ 'Companies' | translate }}">
        <button class="btn btn-info fa fa-plus" ng-click="toggleCompany()">Add New Social</button>
      <div class="row tab-pane "  ng-hide="hideCompany">

        <formly-form result="CompanyRecord" fields="formFields5" options="formOptions" ng-submit="onSubmit5()"></formly-form>

        <div class="controls">
          <button class="btn btn-primary btn-success" ng-click="onSubmit5()" translate>Add Company Relations</button>
        </div>
      </div>

      <table class="table table-hover">
        <tbody>
           <tr  ng-repeat="company in profile.companies" class="list-group-item">
             <td class="text-center">
               <div class="checkbox margin-t-0">
                 <input id="checkbox1" type="checkbox">
                 <label for="checkbox1"></label>
               </div>
             </td>
             <td>{{company.Name}} </td>
             <td>{{company.URL}}</td>
             <td> <button class="btn btn-warning"   ng-click="editCompany(company)" >Edit</button> </td>
           </tr>
           <tr>
        </tbody>
      </table>
    </tab> -->



  </tabset>
</div>
<script>


</script>
