<div class="container col-lg-12 col-md-12">
  <div class="row">
    <div class="panel">
      <a href="/#/app/products/add/55a8a1d5d41ad56657952284" class=""><i class="fa fa-3x fa-rocket "></i>Add Your Startup</a>
      <br/>
      <br/>
      <a href="#" class=""><i class="fa fa-3x fa-bank "></i>Join VIC</a>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>

  </div>
  <div class="row">
    <div class="panel">
      <div ng-hide="!fullprofile.user.CoverPic">
        <img width="100%" src="{{fullprofile.user.CoverPic}}">
      </div>
      <div ng-hide="!fullprofile.user.fullprofilePic" style="float:left">
        <img src="{{fullprofile.user.fullprofilePic}}">
      </div>
      <div ng-hide="!fullprofile" >
        <h1><a href="" ui-sref="^.edit({id: fullprofile.user.id})" >{{fullprofile.user.Name}} [ click to edit ]</a></h1>
        <h3>{{fullprofile.user.id}}<br/>
          {{fullprofile.user.Bio}}</h3>
        <a href="" class="btn btn-sm btn-default" ui-sref="^.edit({id: fullprofile.user.id})">
          <i class="fa fa-pencil fa-3x"></i> &nbsp; Edit fullprofile
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div style="clear:both; margin-top:10px;">
      <br/><pre>{{fullprofile | json}}</pre>
    </div>
  </div>
</div>
