<nav class="navbar navbar-static-top" role="navigation">
  <a class="navbar-btn sidebar-toggle" data-toggle="offcanvas" ng-click="toggleSidebar()" role="button">
    <span class="sr-only" translate>Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
<style>
.menu-lang-user{
  margin-top:10px;
}
.menu-all li{

}
</style>
  <div class="navbar-right nav-profile-top">
    <ul class="nav navbar-nav  menu-all">
      <li class="dropdown user user-menu menu-lang-user">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <i class="flag-icon flag-icon-{{selectLocale.country.toLowerCase() }}"></i>
          {{ selectLocale.name | translate }} <i class="caret"></i> </span>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="(index, locale) in locales" ng-show="locale != selectLocale">
            <a ng-click="setLocale(index)">
              <span class="flag-icon flag-icon-{{locale.country.toLowerCase() }}"></span> {{locale.name | translate }}
            </a>
          </li>
        </ul>
      </li>
      <!-- admin menu -->
      <li class="dropdown user user-menu menu-admin-user" ng-if="$scope.currentUser.isAdmin">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-2x fa-star}}"></i>
          Admin Menu<i class="caret"></i> </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a>
              <span class="fa fa-2x fa-heart }}"></span> Menu1
            </a>
          </li>
          <li>
            <a>
              <span class="fa fa-2x fa-cog }}"></span> Menu2
            </a>
          </li>
        </ul>
      </li>
      <!-- profile menu -->
      <li class="dropdown user user-menu menu-profile-user">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <div >
            <span>
              <div ng-if="!$rootScope.masterUser.ProfilePic">
                <img class="nav-img-profile-pic img-circle"  src="https://s3.amazonaws.com/vatorprofilecache/profile.png" alt="User Image" width="50" height="50" >
                <span>{{currentUser.firstName || currentUser.profiles[0].profile.name.givenName}}<i class="caret"></i></span>
              </div>
              <div  ng-if="$rootScope.masterUser.ProfilePic">
                  <img class="nav-img-profile-pic img-circle" ng-src="$rootScope.masterUser.ProfilePic" alt="User Image" width="50" height="50" >
                  <span>{{currentUser.firstName || currentUser.profiles[0].profile.name.givenName}}<i class="caret"></i></span>
              </div>
            </span>
          </div>
        </a>
        <pre>
          {{currentUser | json}}
          {{masterUser | json}}
        </pre>
        <ul class="dropdown-menu">
          <li class="user-header bg-light-blue">
            <div ng-if="!masterUser.ProfilePic && !currentUser.profilePic">
              <img class="nav-img-profile-pic img-circle"  src="https://s3.amazonaws.com/vatorprofilecache/profile.png"
              alt="User Image" width="90" height="90" ><br/>
              <span>{{currentUser.firstName || currentUser.profiles[0].profile.name.givenName}}</span>
            </div>
            <div  ng-if="currentUser.ProfilePic">
                <img class="nav-img-profile-pic img-circle" ng-src="$scope.currentUser.ProfilePic"
                alt="User Image" width="90" height="90" ><br/>
                <span>{{currentUser.firstName || currentUser.profiles[0].profile.name.givenName}}</span>
            </div>
            <div  ng-if="masterUser.ProfilePic">
                <img class="nav-img-profile-pic img-circle" ng-src="$rootScope.masterUser.ProfilePic"
                alt="User Image" width="90" height="90" ><br/>
                <span>{{masterUser.firstName || masterUser.profiles[0].profile.name.givenName}}</span>
            </div>
          </li>
          <li class="user-footer">
            <div class="pull-left">
              <a href="/#/app/myprofile" class="btn btn-default btn-flat" translate><span style="color:white">Profile</span></a>
            </div>
            <div class="pull-right">
              <a ng-click="logout()" class="btn btn-default btn-flat" translate><span style="color:white">Sign out</span></a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
