<section class="content-header">
  <div class="pull-right">
  </div>
   <h1>VATORX DASHBOARD
</h1>
</section>

<section class="content">

  <div class="container-widget">
    <!-- Start Options Row -->
    <div class="row">
      <div class="col-md-12 ">

        <div class="panel panel-widget " ng-show="upp"  style="background:#B6DEE4">
          <alert  type="success" close="closeAlert()">Account Upgraded to Enterprise!</alert>
        </div>
        <div class="panel panel-widget " style="background:#B6DEE4">
          <div class="panel-title" style="background:#B6DEE4">
            Programs
          </div>
          <div class="panel-body">
            <a href="/#/app/programs/add" >Start a new Program</a> <br/>
                  <a href="/#/app/programs" >View all Programs</a>

<!--             <div class="col-md-4">
              <a href="/#/app/programs/add" class="btn btn-default"><i class="fa fa-rocket"></i>DEMO PROGRAM ORGANIZER</a>
              <h4>ORGANIZER TOOLS</h4>
              <div class="widget socialbox" style="background:#02A8F3; height:205px;">
                <p class="text">
                <a href="/#/app/programs/add" >Start a new Program</a> <br/>
                <a href="/#/app/programs/list" >View all Programs</a>
                </p>
                <div class=""><i class="fa fa-rocket"></i></div>
                <ul class="info">
                  <li><i class="fa fa-user"></i>235</li>
                </ul>
              </div>
            </div>
             <div class="col-md-4">
              <a href="#" class="btn btn-primary"><i class="fa fa-bank"></i>DEMO PROGRAM APPLICANT</a>
              <h4>ENTREPRENUER TOOLS</h4>
              <div class="widget socialbox" style="background:#47639E; height:205px;">
                <p class="text">
                  Apply to a Program round
                </p>
                <div class=""><i class="fa fa-bank"></i></div>
                <ul class="info">
                  <li><i class="fa fa-user"></i>131</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <a href="#" class="btn btn-basic"><i class="fa fa-trophy"></i>DEMO ROUND JUDGE</a>
              <h4>JUDGE TOOLS</h4>
              <div class="widget socialbox" style="background:#ABABAB; height:205px;">
                <p class="text">
                  Judge a round
                </p>
                <div class=""><i class="fa fa-trophy"></i></div>
                <ul class="info">
                  <li><i class="fa fa-user"></i>12</li>
                </ul>
              </div>
            </div> -->

      </div>
    </div>
  </div>
  </div>
  </div>


</section>
