<div class="form-group vator_form_box {{options.id}}_date" ng-class="{'has-error': options.formField.$invalid} ">
  <label for="{{options.id}}">
    {{options.label || 'Text'}}
    {{options.required ? '*' : ''}}
  </label>
  <p class="input-group">
    <input
       type="text"
       class="form-control  form_vator_input_date  {{options.id}}_input_date"
       id="{{options.id}}"
       formly-dynamic-name="options.key"
       formly-custom-validation="options.validators"
       placeholder="{{options.placeholder}}"
       aria-describedby="{{options.id}}_description"
       ng-required="options.required"
       ng-disabled="options.disabled"
       ng-model="result[options.key || index]"
       datepicker-popup="{{options.format}}"
       is-open="options.open"
       close-text="Close"
       date-button="showCalendar"/>
  </p>
   <p id="{{options.id}}_description" class="help-block"
      ng-if="options.description">{{options.description}}</p>
</div>
