<div class="radio-group vator_form_box {{options.id}}_radio" ng-class="{'has-error': options.formField.$invalid}">
	<label class="control-label">
		{{options.label}}
		{{options.required ? '*' : ''}}
	</label>
	<div class="radio_box"
		 ng-repeat="(key, option) in options.options">
		<label>
			<input type="radio"
					class="form-control form_vator_input_radio {{options.id}}_input_radio"
          formly-dynamic-name="options.key"
          formly-custom-validation="options.validators"
				   id="{{options.id + '_'+ $index}}"
				   aria-describedby="{{options.id}}_description"
				   ng-value="option.value"
				   ng-required="options.required"
				   ng-model="$parent.result[$parent.options.key || $parent.index]">
			{{option.name}}
		</label>
   <p id="{{options.id}}_description" class="help-block" ng-if="option.description">{{option.description}}</p>
	</div>

</div>
