<div class="radio-group vator_form_box {{options.id}}_radio" ng-class="{'has-error': options.formField.$invalid}">
		<label class="control-label"><span class="{{options.id}}-raio_label">{{options.label}} {{options.required ? '*' : ''}}  </span>
    <div class="radio_box {{options.id}}-radio_container" ng-repeat="(key, option) in options.options">

    <label class="vator-radio-label">
			<input type="radio"
					class="form-control   {{options.id}}_input_radio"
          formly-dynamic-name="options.key"
          formly-custom-validation="options.validators"
				   id="{{options.id + '_'+ $index}}"
				   aria-describedby="{{options.id}}_description "
				   ng-value="options.value"
				   ng-required="options.required"
				   ng-model="$parent.result[$parent.options.key || $parent.index]">
			<span class="vator_input_radio_value">{{option.name}}</span>
		</label>
   <p id="{{options.id}}_description " class="help-block " ng-if="option.description ">{{option.description}}</p>
	</div>
  </label>
</div>
