<div class="form-group {{options.id}}_textarea" ng-class="{'has-error': options.formField.$invalid}">
	<label for="{{options.id}}">
		{{options.label || 'Text'}}
		{{options.required ? '*' : ''}}
	</label>
	<textarea type="text"
			  class="form-control form_vator_input_textarea msd-elastic {{options.id}}_input_textarea"
			  id="{{options.id}}"
              formly-dynamic-name="options.key"
              formly-custom-validation="options.validators"
			  rows="{{options.lines}}"
			  placeholder="{{options.placeholder}}"
			  aria-describedby="{{options.id}}_description"
			  ng-required="options.required"
			  ng-disabled="options.disabled"
			  ng-model="result[options.key || index]">
	</textarea>
   <p id="{{options.id}}_description" class="help-block" ng-if="options.description">{{options.description}}</p>
</div>
