<div class="form-group {{options.id}}_password" ng-class="{'has-error': options.formField.$invalid}">
	<label for="{{options.id}}">
		{{options.label || 'Password'}}
		{{options.required ? '*' : ''}}
	</label>
	<input type="password"
		   class="form-control form_vator_input_password {{options.id}}_input_password"
		   id="{{options.id}}"
           formly-dynamic-name="options.key"
           formly-custom-validation="options.validators"
		   aria-describedby="{{options.id}}_description"
		   ng-required="options.required"
		   ng-disabled="options.disabled"
		   ng-trim="{{options.trimWhitespace || false}}"
		   ng-model="result[options.key || index]">
   <p id="{{options.id}}_description" class="help-block" ng-if="options.description">{{options.description}}</p>
</div>
