<div class="form-group {{options.id}}_select" ng-class="{'has-error': options.formField.$invalid}">
	<label for="{{options.id}}">
		{{options.label || 'Select'}}
		{{options.required ? '*' : ''}}
	</label>
	<select class="form-control form_vator_input_select {{options.id}}_input_select"
			id="{{options.id}}"
      formly-dynamic-name="options.key"
      formly-custom-validation="options.validators"
			aria-describedby="{{options.id}}_description"
			ng-model="result[options.key || index]"
			ng-required="options.required"
			ng-disabled="options.disabled"
			ng-options="option.value as option.name group by option.group for option in options.options">
	</select>
   <p id="{{options.id}}_description" class="help-block" ng-if="options.description">{{options.description}}</p>
</div>
