<div class="checkbox {{options.id}}_checkbox" ng-class="{'has-error': options.formField.$invalid}">
	<label>		{{options.label || 'Checkbox'}}
			{{options.required ? '*' : ''}}
		</label>
		<input type="checkbox"
        id="{{options.id}}"
				class="form-control form_vator_input_checkbox {{options.id}}_input_checkbox"
        formly-dynamic-name="options.key"
        formly-custom-validation="options.validators"
			   aria-describedby="{{options.id}}_description"
			   ng-required="options.required"
			   ng-disabled="options.disabled"
			   ng-model="result[options.key || index]">

   <p id="{{options.id}}_description" class="help-block" ng-if="options.description">{{options.description}}</p>
</div>
