<div class="radio-group vator_form_box {{options.id}}_isipo" ng-class="{'has-error': options.formField.$invalid}">
		<label class="control-label">
			<span class="{{options.id}}-isipo_label">{{options.label}} {{options.required ? '*' : ''}}  </span>
			<br/>
    <div class="radio_box {{options.id}}-radio_container" >
			<input type="hidden"
					ng-change="isIpoChanged({{options.value}})"
					class="form-control  {{options.id}}_input_isipo"
          name="isipo"
          formly-custom-validation="options.validators"
				  id="{{options.id + '_'+ $index}}"
				  aria-describedby="{{options.id}}_description"
				  ng-value="$scope.isipo"
				  ng-model="result[options.key || index]">
			<div class="btn-group">
					<label class="btn btn-success" ng-model="$scope.isipo"  btn-radio="'true'" ng-click="toggleInvestorIPO('true')" uncheckable>Yes</label>
					<label class="btn btn-success"  ng-model="$scope.isipo"  btn-radio="'false'" ng-click="toggleInvestorIPO('false')" uncheckable>No</label>
			</div>

   <p id="{{options.id}}_description " class="help-block " ng-if="option.description ">{{option.description}}</p>
	</div>
  </label>
</div>
