<div class="form-group vator_form_box {{options.id}}_phone">
  <label for="{{options.id}}">
    {{options.label || 'Number'}}
    {{options.required ? '*' : ''}}
  </label>
  <input type="text"
	 class="form-control form_vator_input_number {{options.id}}_input_phone"
	 id="{{options.id}}"
	 placeholder="{{options.placeholder}}"
	 aria-describedby="{{options.id}}_description"
	 ng-required="options.required"
	 ng-disabled="options.disabled"
	 min="{{options.min}}"
	 max="{{options.max}}"
	 ng-minlength="{{options.minlength}}"
	 ng-maxlength="{{options.maxlength}}"
	 ng-model="result[options.key || index]"
         phone-number
         >
   <p id="{{options.id}}_description"
      class="help-block"
      ng-if="options.description">{{options.description}}</p>
</div>
