<section admin-header class="content-header" title="{{ 'Programs' | translate }}" sub-title="{{ 'Manage your programs here!' | translate }}">
    <a href="" ng-click="open('lg')" class="btn btn-default btn-sm" translate>Create Program</a>

    <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Create Program!</h3>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
    </script>

</section>
<section ui-view class="content"></section>
